%table.table.table-striped
  %tbody
    - users.each_with_index do |user, i|
      %tr
        %td
          %h4
            = i + 1
        %td
          %h4
            = "#{user.name} (#{user.email})"
        %td
          %h4
            = "#{user.total_comments}"