.row
  .col-md-6.col-md-offset-3
    = form_for [@movie, Comment.new], html: { class: 'text-center'} do |f|
      .form-group
        = f.label :add_comment
        = f.text_area :comment_text, class: 'form-control', required: true
      .form-group
        = f.submit "Add Comment", class: 'btn btn-primary'