%h1= @movie.title
.jumbotron
  %table.table.table-striped
    %tbody
      %tr
        %td
          %img.img-rounded-show{ src: @movie.cover }
        %td
          %p
            %strong
              = "Rate: #{@movie.rating}"
          %h4
            Description:
          = @movie.description
          %h4
            Plot:
          = @movie.plot
  - if user_signed_in?
    %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
    %h4
      - unless @movie.comments.where(user_id: current_user.id).any?
        = render 'comments/form'
  = render @movie.comments