@import "bootstrap-sprockets";
@import "bootstrap";

.img-rounded {
  max-width: 360px;
  max-height: 280px
}

.img-rounded-show {
  max-width: 460px;
  max-height: 380px
}

.rate {
  text-align: right;
  color: #fff;
  background-color: blue;
  border: 10px solid blue;
  border-radius: 25px;
}